.qr_code{
  background-color: rgba(203, 203, 203, 0.824);
  padding: 6px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

  border-radius: 50%;

}
.icon-modif{
  background-color: rgb(149, 42, 249);
  border-radius: 10px;
  padding: 6px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  margin-right: 15px;

}

.it_custom{
  padding-bottom: 15px;
}
