ion-card{
  margin-bottom: 30px;
}
.qr_code{
  background-color: #e9e9e9;
  padding: 8px;
  border-radius: 50%;
}
.qr_code_two{
  background-color: var(--ion-color-primary);
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
  
}



.qr_code_three{
  background-color: rgb(202, 1, 202);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}


.qr_code_four{
  background-color: rgb(0, 136, 255);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_five {
  background-color: rgb(104, 250, 104);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_six{
  background-color: rgb(248, 201, 114);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_seven{
  background-color: rgb(44, 44, 125);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_eight{
  background-color: rgb(81, 159, 227);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_nine{
  background-color: rgb(10, 88, 255);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_ten{
  background-color: rgb(23, 147, 255);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_eleven{
  background-color: rgb(61, 255, 109);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_twelve{
  background-color: rgb(255, 39, 39);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}

.qr_code_thirteen{
  background-color: rgb(255, 185, 44);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}
.second_item{
  padding-bottom: 15px;
  ion-label{
      font-size: 18px;
  }
}