.img-profile{
    border-radius: 50%;
    height: 140px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -115px;
   img{
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    
   }
}